version: '3.8'

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
  database:
    driver: bridge
  message_queue:
    driver: bridge
  cache:
    driver: bridge

services:
  cdn_service:
    image: ghcr.io/leonlav77/cdn_service:latest
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - TICKET_SERVICE_URL=http://ticket_purchase_service:8004
      - DATA_AGGREGATOR_URL=http://api_service:8000
      - AUTH_SERVICE_URL=http://auth_service:8001
      - DIRECTUS_API_URL=https://directus.leon-home-lab.ddns.net
      - WEBSOCKET_SERVICE_URL=http://web_socket_lb:4321
      - LOGIN_URL=/login
      - STATIC_FILES_PATH=static
      - JWT_SECRET=kaodajemorskavila
    networks:
      - frontend
      - backend
    depends_on:
      - api_service
      - auth_service
      - web_socket_lb
      - ticket_purchase_service
    restart: on-failure
    
  auth_service:
    image: ghcr.io/leonlav77/auth_service:latest
    environment:
      - SERVER_PORT=8001
      - JWT_SECRET=kaodajemorskavila
      - DB_HOST=auth_db
      - DB_PORT=5432
      - DB_USER=auth_user
      - DB_PASSWORD=auth_password
      - DB_NAME=ticketing
    networks:
      - backend
      - database
    depends_on:
      auth_db:
        condition: service_healthy
    restart: on-failure
    
  auth_db:
    image: ghcr.io/leonlav77/postgres_service:latest
    environment:
      - POSTGRES_USER=auth_user
      - POSTGRES_PASSWORD=auth_password
      - POSTGRES_DB=ticketing
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth_user -d ticketing"]
      interval: 5s
      timeout: 5s
      retries: 5
      
  api_service:
    image: ghcr.io/leonlav77/data_aggregator_service:latest
    environment:
      - SERVER_PORT=8000
      - JWT_SECRET=kaodajemorskavila
      - DB_HOST=auth_db
      - DB_PORT=5432
      - DB_USER=auth_user
      - DB_PASSWORD=auth_password
      - DB_NAME=ticketing
      - DB_SSLMODE=disable
      - DIRECTUS_API_URL=https://directus.leon-home-lab.ddns.net
      - DIRECTUS_TOKEN=fswtQ0QA1dZFSI9eMOPB6_SfC2AwpBoB
    networks:
      - backend
      - database
    depends_on:
      auth_db:
        condition: service_healthy
    restart: on-failure
    
  order_service:
    image: ghcr.io/leonlav77/order_service:latest
    environment:
      - DB_HOST=auth_db
      - DB_PORT=5432
      - DB_USER=auth_user
      - DB_PASSWORD=auth_password
      - DB_NAME=ticketing
      - DB_SSLMODE=disable
      - RABBITMQ_URL=amqp://admin:kaodajemorskavila@rabbitmq_service:5672/
      - QUEUE_ORDER_CREATED=order.created
      - QUEUE_ORDER_PAYMENT_SUCCESS=order.payment-success
    networks:
      - backend
      - database
      - message_queue
    depends_on:
      auth_db:
        condition: service_healthy
      rabbitmq_service:
        condition: service_healthy
    restart: on-failure
    
  ticket_purchase_service:
    image: ghcr.io/leonlav77/ticket_purchase_service:latest
    environment:
      - SERVER_PORT=8004
      - ETCD_ENDPOINT_1=etcd_service_1:2379
      - ETCD_ENDPOINT_2=etcd_service_2:2379
      - ETCD_ENDPOINT_3=etcd_service_3:2379
      - ETCD_DIAL_TIMEOUT=5s
      - REDIS_ADDR=tickets_redis_service:6379
      - RABBITMQ_URL=amqp://admin:kaodajemorskavila@rabbitmq_service:5672/
      - PAYMENT_PROCESSOR_URL=https://payment-processor.leon-home-lab.ddns.net
      - FRONTEND_URL=http://cdn_service:8080
      - PUBLIC_FRONTEND_URL=http://127.0.0.1:8080
      - JWT_SECRET=kaodajemorskavila
      - LOGIN_URL=/login
      - REDIS_CACHE_TTL=10s
      - RESERVATION_TIMEOUT=15m
      - MAX_RETRIES=10
      - RETRY_DELAY=10ms
      - CALLBACK_BASE_URL=http://127.0.0.1:10000
    ports:
      - "10000:8004"
    networks:
      - backend
      - cache
      - message_queue
    depends_on:
      etcd_service_1:
        condition: service_started
      etcd_service_2:
        condition: service_started
      etcd_service_3:
        condition: service_started
      tickets_redis_service:
        condition: service_started
      rabbitmq_service:
        condition: service_healthy
    restart: on-failure
    
  web_socket_lb:
    image: ghcr.io/leonlav77/web_socket_lb:latest
    environment:
      - LB_PORT=4321
      - BACKENDS=ws://websocket_service_1:8002,ws://websocket_service_2:8002,ws://websocket_service_3:8002
    networks:
      - backend
    depends_on:
      - websocket_service_1
      - websocket_service_2
      - websocket_service_3
    restart: on-failure

  websocket_service_1:
    image: ghcr.io/leonlav77/websocket_service:latest
    environment:
      - SERVER_PORT=8002
      - REDIS_ADDR=websocket_redis_service:6379
      - WEBSOCKET_UPDATE_TIME_MS=2000
      - JWT_SECRET=kaodajemorskavila
      - LOGIN_URL=/login
    networks:
      - backend
      - cache
    depends_on:
      - websocket_redis_service
    restart: on-failure

  websocket_service_2:
    image: ghcr.io/leonlav77/websocket_service:latest
    environment:
      - SERVER_PORT=8002
      - REDIS_ADDR=websocket_redis_service:6379
      - WEBSOCKET_UPDATE_TIME_MS=2000
      - JWT_SECRET=kaodajemorskavila
      - LOGIN_URL=/login
    networks:
      - backend
      - cache
    depends_on:
      - websocket_redis_service
    restart: on-failure

  websocket_service_3:
    image: ghcr.io/leonlav77/websocket_service:latest
    environment:
      - SERVER_PORT=8002
      - REDIS_ADDR=websocket_redis_service:6379
      - WEBSOCKET_UPDATE_TIME_MS=2000
      - JWT_SECRET=kaodajemorskavila
      - LOGIN_URL=/login
    networks:
      - backend
      - cache
    depends_on:
      - websocket_redis_service
    restart: on-failure

  rabbitmq_service:
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=kaodajemorskavila
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - message_queue
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 5

  tickets_redis_service:
    image: redis:7-alpine
    volumes:
      - tickets_redis_data:/data
    networks:
      - cache

  websocket_redis_service:
    image: redis:7-alpine
    volumes:
      - websocket_redis_data:/data
    networks:
      - cache

  etcd_service_1:
    image: quay.io/coreos/etcd:v3.5.9
    environment:
      - ETCD_NAME=etcd1
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd_service_1:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd_service_1:2379
      - ETCD_INITIAL_CLUSTER=etcd1=http://etcd_service_1:2380,etcd2=http://etcd_service_2:2380,etcd3=http://etcd_service_3:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
      - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
    volumes:
      - etcd1_data:/etcd-data
    networks:
      - cache

  etcd_service_2:
    image: quay.io/coreos/etcd:v3.5.9
    environment:
      - ETCD_NAME=etcd2
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd_service_2:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd_service_2:2379
      - ETCD_INITIAL_CLUSTER=etcd1=http://etcd_service_1:2380,etcd2=http://etcd_service_2:2380,etcd3=http://etcd_service_3:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
      - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
    volumes:
      - etcd2_data:/etcd-data
    networks:
      - cache

  etcd_service_3:
    image: quay.io/coreos/etcd:v3.5.9
    environment:
      - ETCD_NAME=etcd3
      - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd_service_3:2380
      - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd_service_3:2379
      - ETCD_INITIAL_CLUSTER=etcd1=http://etcd_service_1:2380,etcd2=http://etcd_service_2:2380,etcd3=http://etcd_service_3:2380
      - ETCD_INITIAL_CLUSTER_STATE=new
      - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
    volumes:
      - etcd3_data:/etcd-data
    networks:
      - cache
  queue_control_service:
    image: ghcr.io/leonlav77/queue_control_service:latest
    ports:
      - "9000:9000"
    environment:
      - SERVER_PORT=9000
      - REDIS_ADDR=websocket_redis_service:6379
    networks:
      - cache
    depends_on:
      - websocket_redis_service
    restart: on-failure

volumes:
  auth_db_data:
  rabbitmq_data:
  tickets_redis_data:
  websocket_redis_data:
  etcd1_data:
  etcd2_data:
  etcd3_data: